<div id="touchsurface3" class="main-container">
<div class="jumbotron devise">

  <a href="/landing/"><%= image_tag("wefresh_logo_2.png") %></a>

  <h2>Sign up currently restricted</h2>
  
</div>
</div>