<div id="behind">
  <div id="inner2" class="stat-box">
    <h1 class="value"></h1>
  </div>
</div>


<div id="touchsurface2" class="jumbotron view-post box">
    <div id="inner">

    <h1><%= @post.text %></h1>
   
    </div>


<!-- Drop down menu -->
<div class="dropup">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Options
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <li><a href="#">Nominate: Saddest</a></li>
    <li><a href="#">Nominate: Funniest</a></li>
    <li><a href="#">Nominate: Dumbest</a></li>
    <li><a href="#">Nominate: Grossest</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Flag</a></li>
  </ul>
</div>





</div>



