<div ng-app="app">
  <div id="postCtrl" ng-controller="postCtrl" ng-init="setup()">
    <div id="behind">
      <div id="inner2" class="stat-box">
        <h1 class="value"></h1>
      </div>
    </div>


    <div id="touchsurface2" class="jumbotron view-post box">
      <div id="inner">

       <h1>{{post.text}}</h1>
    
      </div>

      <div class="flags">
        <img src="/assets/1-sm.png" style="width:50px; height:50px;">
        <img src="/assets/2-sm.png" style="width:50px; height:50px;">
        <img src="/assets/3-sm.png" style="width:50px; height:50px;">
        <img src="/assets/4-sm.png" style="width:50px; height:50px;">
        <i class="fa fa-flag fa-2x"></i>
      </div>

    </div>

  </div>
</div>





