<div ng-app="app">
  <div id="postCtrl" ng-controller="postCtrl" ng-init="setup()">
    <div id="behind">
      <div id="inner2" class="stat-box">
        <h1 class="value"></h1>
      </div>
    </div>


    <div id="touchsurface2" class="jumbotron view-post box">
      <div id="inner">

       <h1>{{post.text}}</h1>
    
      </div>

      <div class="flags">
        <img src="/assets/1-sm.png" style="width:50px; height:50px;">
        <img src="/assets/2-sm.png" style="width:50px; height:50px;">
        <img src="/assets/3-sm.png" style="width:50px; height:50px;">
        <img src="/assets/4-sm.png" style="width:50px; height:50px;">
        <i class="fa fa-flag fa-2x"></i>
      </div>

    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="flashModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Hurray, you weef'd! </h4>
      </div>
      <div class="modal-body">
        <%= link_to "Go to your weefs", "/weefs/", :class => "btn btn-default", :role => "button" %> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


