<div id="behind">
  <div id="inner2" class="stat-box">
    <h1 class="value"> </h1>
  </div>
</div>


<div id="touchsurface2" class="jumbotron view-post box">
    <div id="inner">

    <h1><%= @post.text %></h1>
   
    </div>


</div>



