// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  text-align: center;
  margin: auto;
}

body {
  background-color: #EEEEEE;
}

// .posts a {
//     text-align: center;
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
// }

.nav {
  margin: auto;
}

.create-post {
  margin: auto;
  text-align: center;
  max-width: 75%;
  padding: 10px;
}

.input-group {
  padding: 5px;
  margin: auto;
  text-align: center;
}

.log-in{
  width: 700px;
  margin:auto;
  text-align:center;
  padding-top:10%;
  font-family: 'Roboto', Arial, sans-serif;
}
 
.panel-heading{
  background-color:#fff;
}
 
.form-control{
  width: 500px;
  text-align: center;
  margin:auto;
}
 
.panel-body p{
  color:#555;
}