body {
  padding-bottom: 75px;
  background-image: image-url("congruent_pentagon.png") !important;
  background-color: black;
  background-attachment: fixed;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body p {
  font-family: 'Montserrat', sans-serif;
}

.main-container .jumbotron {
    // border-radius: 25px;
    width: 95%;
    max-width: 900px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

// .jumbotron {
//   display: none;
// }


.main-container {
  padding-top: 10px;
  width: 100%;
}

.devise h2 {
  font-family: 'Questrial', sans-serif;
  color: black;
  font-size: 40px;
}

.user h3{
  font-family: 'Montserrat', sans-serif;
  color: #ff9966;
}

body {
  // margin-top: 15px;
  background-color: #ededed;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse{
  text-align: center;
}

.flags {
  display: inline-block;
  padding-top: 5px;
  float: left;
}

.flag {
  display: inline-block;
  color: #5a5b5b;
  float: right;
  padding-top: 5px;
  vertical-align: top;
}

.alert {
  margin: auto;
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: #EBFDD4;
  opacity: 0.6;
  text-align: center;
}

.fa-flag {
  padding-top: 0px;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;

}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  z-index: 1;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
