body {
  padding-bottom: 50px;
}

body p {
  font-family: 'Montserrat', sans-serif;
}

.container .jumbotron {
    border-radius: 25px;
    max-width: 900px;
}

.devise h2 {
  font-family: 'Questrial', sans-serif;
  color: black;
  font-size: 40px;
}

.user h3{
  font-family: 'Montserrat', sans-serif;
  color: #ff9966;
}

body {
  margin-top: 15px;
  background-color: #ED5723;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse{
  text-align: center;
}

// .nav {
//   display: inline-block;
//   float: none;
//   vertical-align: top;
//   margin: auto;
//   text-align: center;
// }

// html, body {
//   height: 100%;
// }

// body {
//   padding: 50px 0 0 0;
// }

// .navbar-toggle {
//   float: left;
//   margin-left: 15px;
// }

// @media (min-width: 0) {
//   .navbar-toggle {
//     display: block; /* force showing the toggle */
//   }
// }

// @media (min-width: 992px) {
//   body {
//     padding: 0;
//   }
//   .navbar {
//     right: auto;
//     background: blue;
//     border: none;
//   }
// }


