body {
  padding-bottom: 55px;
  background-image: url("congruent_pentagon.png");
  background-color: black;
  background-attachment: fixed;
}

body p {
  font-family: 'Montserrat', sans-serif;
}

.main-container .jumbotron {
    border-radius: 25px;
    width: 95%;
    max-width: 900px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.main-container {
  padding-top: 10px;
}

.devise h2 {
  font-family: 'Questrial', sans-serif;
  color: black;
  font-size: 40px;
}

.user h3{
  font-family: 'Montserrat', sans-serif;
  color: #ff9966;
}

body {
  // margin-top: 15px;
  background-color: #ededed;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse{
  text-align: center;
}

.flags {
  display: inline-block;
  float: right;
}


.alert {
  position: absolute;
  z-index: 1;
  background-color: red;
  opacity: 0.6;
}

.fa{
  padding: 3px;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;

}
