.devise {
  max-width: 90%;
  padding: 5px;
  margin: auto;
  text-align: center;
  background-color: white;
  border-radius: 5%;
}

.devise img {
  // min-width: 50%;
  max-width: 300px;
  width: 90%;
  padding: 20px;
}

.user {
  display: none;
  max-width: 900px;
  padding: 25px;
  margin: auto;
  // text-align: center;
  background-color: white;
  border-radius: 25px;
}

.user h1 {
  font-family: 'Questrial', sans-serif;
}

.post-archive{
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  width: 100%;
  text-align: left;
  border-radius: 15px;
  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 1px;
  margin: 5px;
}

.post-table {
  // border: #ff9966;
  border-style: none;
  // border-radius: 25px;
}

@media screen and (max-width: 479px) {
    .table, .table-row {
        display: block;
    }
    .table-cell {
        display:inline-block;
    }
}

.table th {
  text-align: center;
  margin: auto;
  // border-bottom: 1px solid gray;
  // margin: 10px;
}

#text-header {
  text-align: left;
}

td.post-text-td {
  width: 48%;
}

td.post-weaction-td {
  width: 48%;
  text-align: center;
}

td.trash {
  width: 4%;
  margin: auto;
  text-align: center;
}

.user img {
  border-radius: 15%;  
}

.ng-enter, .ng-move{
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.ng-leave{
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;
  animation: fadeOut 1s;
}

