table {
  width: 100%;
  border: none;
}
th.post {
  width: 80%;
}
th.emotion {
  width: 20%;
}


.gallery .holder {
  width: 100%;
  overflow: hidden;
}

.gallery .list {
  width: 9999px;
  overflow: hidden;

}

.gallery .item {
  float: left;
}

.gallery .inner {
  width: 100%;
  margin: 0 auto;
}

.weef {
  width: 95%;
  padding: 25px;
  margin: auto;
  // text-align: center;
  background-color: white;
  border-radius: 25px;
  font-family: 'Questrial', sans-serif;
}

.weef h1{
  font-family: 'Questrial', sans-serif;
  color: #ff9966;
}

.w1 {
  background-color: white;
  border-style: solid;
  border-color: #13BFD9;
  width: 100%;
  // float: left;
  border-radius: 15px;
  padding-top: 12px;
  padding-left: 12px;
  margin: 5px;
  font-family: 'Montserrat', sans-serif;
}

.w2 {
  background-color: white;
  border-style: solid;
  border-color: #6ABD45;
  width: 100%;
  // float: right;
  border-radius: 15px;
  padding-top: 12px;
  padding-left: 12px;
  margin: 5px;
  font-family: 'Montserrat', sans-serif;
}

.w1 img {
  display: block;
  margin: auto;
  width: 40%
}

.w2 img {
  display: block;
  margin: auto;
  width: 40%;
}

.weef-menu {
  width: 100%;
  margin: auto;
}

.weef-btn{
  width: 100%;
  margin: auto;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}