table {
  width: 100%;
  border: 1px solid #000;
}
th.post {
  width: 80%;
}
th.emotion {
  width: 20%;
}


.weef {
  max-width: 80%;
  padding: 25px;
  margin: auto;
  // text-align: center;
  background-color: white;
  border-radius: 25px;
}

.weef h2{
  font-family: 'Press Start 2P', cursive;
  color: #ff9966;
}