#table-their-posts {
  width: 100%;
  border: none;
  margin: auto;
  text-align: left;
  font-size: 120%;
}
.post th td {
  text-align: left;
  width: 80%;
  padding: 20px;
}
.emotion th td {
  width: 20%;
  text-align: center;
}


.gallery .holder {
  width: 100%;
  overflow: hidden;
}

.gallery .list {
  width: 9999px;
  overflow: hidden;

}

.gallery .item {
  float: left;
}

.gallery .inner {
  width: 100%;
  margin: 0 auto;
}

.weef {
  width: 100%;
  padding: 25px;
  margin: auto;
  // text-align: center;
  background-color: white;
  border-radius: 25px;
  font-family: 'Questrial', sans-serif;
}

.weef h1{
  font-family: 'Questrial', sans-serif;
  color: #ff9966;
}

.w1 {
  background-color: #13BFD9;
  background-image: image-url("congruent_pentagon.png");
  text-align: center;
  // border-style: solid;
  // border-color: #13BFD9;
  width: 100%;
  // float: left;
  border-radius: 15px;
  padding: 12px;
  margin: 5px;
  font-family: 'Montserrat', sans-serif;
}

.w2 {
  background-color: #6ABD45;
  background-image: image-url("congruent_pentagon.png");
  text-align: center;
  // border-style: solid;
  // border-color: #6ABD45;
  width: 100%;
  // float: right;
  border-radius: 15px;
  padding: 12px;
  margin: 5px;
  font-family: 'Montserrat', sans-serif;
}

.w1 img {
  display: block;
  margin: auto;
  width: 30%
}

.w2 img {
  display: block;
  margin: auto;
  width: 30%;
}

.w1 h3 {
  color: black
}

.w2 h3 {
  color: black
}

.weef-menu {
  padding-top: 10px;
  width: 100%;
  margin: auto;
}

.weef-btn{
  width: 100%;
  margin: auto;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}